*{
	margin: 0;
	padding: 0;
}
.header{
	width: 999px;
	height: 100px;
	background: white;
	margin: 0 auto;
}
.header .logo{
	width: 20px;
	height: 30px;
	float: left;
	margin-left: 20px;
	margin-top: 40px;
}
.header .search{
	width: 230px;
	height: 30px;
	/* background: #00FF00; */
	float: right;
	margin-right: 18px;
	margin-top: 40px;
	border: 1px solid #e5e5e5;
}
.header .search input[type=text]{
	width: 197px;
	height: 30px;
	border: none;
	background: #f1f1f1;
	float: left;
	padding-left: 15px;
	box-sizing: border-box;
}
.header .search input[type=submit]{
	width: 33px;
	height: 30px;
	border: none;
	background: #f1f1f1 url(../img/search.png) no-repeat center center;
	float: right;
}
.nav{
	width: 999px;
	height: 60px;
	background: #000000;
	margin: 0 auto;
}
.nav ul li{
	list-style: none;
	float: left;
	width: 119px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-right: 1px solid #494949;
	
}
.nav ul li:last-child{
	border-right: none;
}
.nav ul{
	width: 999px;
	height: 60px;
	padding-left:27px;
	box-sizing: border-box;
}
.nav ul li a{
	color: white;
	text-decoration: none;
}
.banner{
	width: 999px;
	height: 465px;
	margin: 0 auto;
}
.four{
	margin: 0 auto;
	width: 999px;
	height: 203px;
	background: whitesmoke;
}
.four new{
	width: 499px;
	height: 203px;
	float: left;
}
.introduce{
	width: 250px;
	height: 203px;
	float: right;
	background: #808080;
}
.invite{
	width:250px ;
	height: 203px;
	float: right; 
}
.new h3{
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.new ul{
    border-left: 15px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left:20px ;
	font: 15px"microsoft yahei";
	color: #242424;			
}
.new ul li{
	padding-bottom: 3px;
}
.new ul span{
	float: right;
	color: black;
	font-size: 12px;
	color: rosybrown;
}
.introduce h3{
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.introduce p{
	padding-left: 20px;
	font: 15px "microsoft yahei";
}
.introduce p:last-child{
	padding-top: 20px;
	padding-left: 20px;
	font: 13px "microsoft yahei";
	color:whitesmoke;
}
.invite h3{
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.invite p{
	padding-left: 20px;
	font: 12px"microsoft yahei";
}
.flowers{
	float: right;
}
.more{
	float: left;
	padding-top: 30px;
	padding-left: 20px;
}
.fifth{
	width: 999px;
	height: 200px;
	margin: 0 auto;
	box-sizing: border-box;
}
.fifth h3{
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.box1{
	float: right;
	
	width: 200px;
	padding-right: 10px;
}
.box2{
	float: right;
	padding-right: 60px;
	width: 200px;
}
.box3{
	float: right;
	padding-right: 60px;
	width: 200px;
}
.box4{
	float: left;
	width: 200px;
	padding-right: 50px;
}
.fifth p{
	padding-top: 10px;
	font: 12px"microsoft yahei";
}
.six{
	width: 999px;
	height: 200px;
	margin: 0 auto;
	background: #E5E5E5;
	margin-top: 60px;
}
.intnet{
	float: right;
	width: 249px;
	height: 200px;
	margin-left: 9px;
}
.tech{
	float: right;
	width: 240px;
	height: 200px;
}
.center{
	float: left;
	width: 490px;
	height: 200px;
	
	margin-right: 9px;
}
.center h3{
	font: 18px "microsoft yahei";
	border-bottom: 1px solid #666666;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
}
.center li{
	list-style: none;
	background: url(../img/item_icon.png) no-repeat;
	padding-left: 20px;
	padding-bottom: 10px;
}
.center ul{
	float: right;
	padding-right: 60px;
}
.center ul:last-child{
	float: left;
	padding-left: 10px;
}
.intnet h3{
	font: 18px "microsoft yahei";
	border-bottom: 1px solid #666666;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
}
.tech h3{
	font: 18px "microsoft yahei";
	border-bottom: 1px solid #666666;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
}
.tech li{
	list-style: none;
	background: url(../img/item_icon.png) no-repeat;
	padding-left: 20px;
	padding-bottom: 10px;
	clear: both;
	
}
.tech ul{
	padding-left: 10px;
}
.china{
	text-align: center;
}
